
.desc{
    font-style: italic;
    font-family: fantasy;
}
.text-center{
    color: aqua;
    padding-top: 7%;
    font-family: monospace;
    text-align: left;
}
#quotes{
    border: 2px solid black;
    text-align: center;
    padding:10px;
    box-shadow: 5px 10px #888888;
}